
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
  
}
 /* menu bar section start*/

    .main{
        width: 1140px;
        margin: 0 auto;
        height: 90px;       
    }
.logo{
    width: 30%;
    float: left;
}
.logo img{
    height: 60px;
    width: 65px;
    margin: 10px;
}
.menu{
    width: 70%;
    float: left;
}
nav .text{
    list-style: none;
    float: left;


}
nav .text li{
text-decoration: none;
margin: 25px 10px;
display: inline-block;
}
nav .text li a {
    text-transform: uppercase;
    text-decoration: none;
    margin: 10px;
    color: black;
   
}
 .icon .i{
     list-style: none;
     float: left;
 }
 .icon .i li {
     text-decoration: none;

     display: inline-block;
     margin: 25px 0;
    
 }
 /* menu bar section end*/
  /* banner  section start*/

 .banner{
     width: 100%;
     margin: 0 auto;
     background-image: url(../img/banner.jpg);
     height: 500px;
     background-size: cover;
     background-position: center;
     background-repeat: no-repeat;
 }



 .container{

     width: 1140px;
     margin: 0 auto;
     
   
    
 }
 .pera{
     padding: 80px 155px;
 }

 .from{
    background-color: rgba(4,9,30,0.7);
     width: 500px;
     padding: 20px;
     margin: 10px;
     

 }
    .from h1 {
        text-align: center;
        font-size: 58px;
        color:black;
        text-transform: uppercase;


    }
p{
    text-align: justify;
    color:rgb(14, 12, 12);
    font-size: 20px;
    padding: 15px;
}
.button a{
    text-decoration: none;
    text-transform: uppercase;
    background: green;
    padding: 8px;
    margin: 20px;
    color: white;
    border-radius: 2px;
} 
 /* banner  section end*/
/* middle part */
 .mi{
     width: 100%;
     margin: 10px;
     height: 350px;
 }
 .container{
     width: 1140px;
     margin: 0 auto;

     
 }
  
.one{
    width: 25%;
    float: left;
    
}
.one i{
  
    font-size: 35px;
    text-align: center;
    display: inline-block;
    margin-top: 40px;
    margin-left: 130px;
    

}
 .one h3{
    text-align: center;
    text-transform: capitalize;
    margin: 5px;
}
.one a{
    text-decoration: none;
    background-color: rgba(16, 238, 16, 0.801);
    color: white;
    text-transform: uppercase;
    padding: 5px;
    margin: 88px;
    border-radius: 5px;
}

.two{
    width: 25%;
    float: left;
}

.two i{
    font-size: 35px;
    text-align: center;
    display: inline-block;
    margin-top: 40px;
    margin-left: 130px;
    

}
.two h3{
    text-align: center;
    text-transform: capitalize;
    margin: 5px; 
}
.two a{
    text-decoration: none;
    background-color: rgba(16, 238, 16, 0.801);
    color: white;
    text-transform: uppercase;
    padding: 5px;
    margin: 88px;
    border-radius: 5px;
}
.three{
    width: 25%;
    float: left;
}
.three i{
    font-size: 35px;
    text-align: center;
    display: inline-block;
    margin-top: 40px;
    margin-left: 130px;
}
.three h3{
    text-align: center;
    text-transform: capitalize;
    margin: 5px; 
}
.three a{
    text-decoration: none;
    background-color: rgba(16, 238, 16, 0.801);
    color: white;
    text-transform: uppercase;
    padding: 5px;
    margin: 88px;
    border-radius: 5px;   
}
.four{
    width: 25%;
    float: left;
}
.four i{
    font-size: 35px;
    text-align: center;
    display: inline-block;
    margin-top: 40px;
    margin-left: 130px;
}
.four h3{
    text-align: center;
    text-transform: capitalize;
    margin: 5px; 
}
.four a{
    text-decoration: none;
    background-color: rgba(16, 238, 16, 0.801);
    color: white;
    text-transform: uppercase;
    padding: 5px;
    margin: 88px;
    border-radius: 5px;     
}
/* middle part end*/
/* iteam part start*/
.iteam{
    width: 100%;
    float: left;

}
.invest {
    background-color: rgb(80 117 122 / 18%);
    float: left;
    height: 300px;
    padding: 50px;
    margin: 50PX;
    width: 40%;

}
.invest ul{
    list-style: none;

}
.invest ul li{
text-decoration: none;
}

.invest ul li a{
    text-decoration: none;
    background: green;
    color: white;
    padding: 15px;
    line-height: 10;
    border-radius: 5px;
    text-transform: uppercase;
}

 .invest h4{
    font-size: 35px;
    text-transform:capitalize;
 }
 .interest{
    background-color: rgb(80 117 122 / 18%);
    float: left;
    height: 300px;
    padding: 50px;
    margin: 50PX;
    width: 40%;

}
.interest ul{
    list-style: none;

}
.interest ul li{
text-decoration: none;
}

.interest ul li a{
    text-decoration: none;
    background: green;
    color: white;
    padding: 15px;
    line-height: 10;
    border-radius: 5px;
    text-transform: uppercase;
}

 .interest h4{
    font-size: 35px;
    text-transform:capitalize;
 }
/* iteam part end*/
 /* this blog section */
.blog{
    width: 100%;
    float: left;
}

span {
    margin: 12px 520px;
    font-size: 35px;
}
.info-blog{
    width: 40%;
    float: left;
    margin: 50px;
}
.info-blog h3{
    text-transform: uppercase;
    margin: 5px;
    color: rgb(43, 22, 236);
}

.infolog{
    width: 40%;
    float: left;
    margin: 50px;
    

}

.infolog h3{
    text-transform: uppercase;
    margin: 5px;
    color: rgb(43, 22, 236);
}

.infolog a{
    text-decoration: none;
    background-color: rgba(16, 238, 16, 0.801);
    color: white;
    text-transform: uppercase;
    padding: 5px;
    border-radius: 5px;       
}
.info-blog a{
    text-decoration: none;
    background-color: rgba(16, 238, 16, 0.801);
    color: white;
    text-transform: uppercase;
    padding: 5px;
    border-radius: 5px;  
}
/* blog section end */

/* address section start*/
.address{
    width: 100%;
    background-color: rgba(62, 63, 61, 0.425);
    float: left;
    

}

.contant{
    width: 1140px;
    margin: 0 auto;
    float: left;
}

.title {
    margin: 20px;
    padding-left: 210px;
}

.title p{
    text-align: center;
}

/* address section end*/

/* turst section start*/
  .turst{
      width: 100%;
      float: left;


  }
  .mark{
      width: 1140px;
      margin: 0 auto;
      float: left;
  }
  .point{
      align-items: center;
      padding-left: 550px;
      margin: 20px;
  }

  .point ul{
      list-style: none;
  }
  .point ul li {
      text-decoration: none;
      display: inline-block;
      
  }
  .point ul li i{
      border: 1px solid black;
      background-color: rgba(16, 238, 16, 0.801);
  }





/* turst section start*/



/* footer part css start */

.footer{
    background-color: #032E37;
    list-style: none;
    width: 100%;
    float: left;
}
.container{
    width: 1140px;
    margin: 0 auto;
    
}

.footer_content .col50{
    text-align: center;
    margin: 25px;
    color: #fff;
    font-size: 22px;
}
 .col50{
     width: 40%;
     float: left;
 }
.col50 ul{
    list-style: none;

}
  .col51{
      width: 40%;
      float: left;
  }
  .col51 ul{
      list-style: none;
  }
  .footer_content .col51{
    text-align: center;
    margin: 25px;
    color: #fff;
    font-size: 22px;
}
/* footer part css end */